* { box-sizing: border-box; }

body {
  animation-name: multicolor;
  animation-duration: 2s;
  animation-iteration-count: 10;
}
@keyframes multicolor {
  0% {background-color: white;}
  15% {background-color: red;}
  25% {background-color: rgb(255, 153, 51);}
  40% {background-color: rgb(102, 204, 255);}
  55% {background-color: yellow;}
  70% {background-color: rgb(255, 153, 0);}
  85% {background-color: rgb(102, 0, 51);}
  100% {background-color: white;}
}
#playground {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 768px;
  width: 1024px;
  background-color: white;
  animation-name: multicolor;
  animation-duration: 2s;
  animation-iteration-count: 10;
}
@keyframes multicolor {
  0% {background-color: white;}
  15% {background-color: red;}
  25% {background-color: rgb(255, 153, 51);}
  40% {background-color: rgb(102, 204, 255);}
  55% {background-color: yellow;}
  70% {background-color: rgb(255, 153, 0);}
  85% {background-color: rgb(102, 0, 51);}
  100% {background-color: white;}
}

.head {
  background-color: rgb(191, 128, 64);
  border-top-right-radius:150px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  position: absolute;
  height: 450px;
  width: 300px;
  left: 0;
 right: 0;
 margin: 0 auto;
  bottom: 100px;
  z-index: 2;
  animation-name: intento;
  animation-duration: 3s;
}
@keyframes intento {
  0% {height: 450px; width: 300px;}
  25% {height: 450px; width: 380px;}
  50% {height: 450px; width: 300px;}
  75% {height: 450px; width: 380px;}
  100% {height: 450px; width: 300px;}

}
.eyes{
  position: absolute;
  left: 0;
 right: 0;
 margin: 0 auto;
  z-index: 2;
  top: 330px;
  width: 300px;
}
.right-eye {
  height: 100px;
  width: 80px;
  border-radius: 150px;
  background-color: white;
  border: 1px black solid;
  z-index: 2;
 float: right;
 margin-right: 4em;
 animation-name: example;
 animation-duration: 2s;
 animation-iteration-count: 5;
 animation-delay: 3s;
   }
   @keyframes example {
    from {background-color: white; }
    to {background-color: red;}
 }
.left-eye{
  height: 100px;
  width: 80px;
  border-radius: 150px;
  background-color: white;
  border: 1px black solid;
  z-index: 2;
  float: left;
  margin-left: 4em;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-delay: 3s;
    }
    @keyframes example {
      from {background-color: white;}
      to {background-color: red;}
  }
.pupil{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: black;
  position: relative;
  top: 35px;
  left: 25px;
  animation-name: pupila;
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-delay: 2s;
  animation-name: grande;
  animation-duration: 1s;
  animation-delay: 3s;
}
@keyframes grande {
  from {height: 30px; width: 30px;}
  to {height: 50px; width: 50px;}
}

.hat{
  height: 55px;
  width: 270px;
  background-color: black;
  position: absolute;
  left: 0;
 right: 0;
 margin: 0 auto;
 top: 250px;
  z-index: 3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation-name: hats;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-direction: alternate;
  }
  @keyframes hats {
    0% {background-color: black;}
    25% {background-color: yellow;}
    50% {background-color: rgb(51, 153, 255);}
    75% {background-color: green;}
    100% {background-color: black;}
  }

.hat2{
  height: 100px;
  width: 200px;
  background-color: black;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  position: absolute;
  left: 0;
 right: 0;
 margin: 0 auto;
 top: 150px;
  z-index: 3;
animation-name: hats;
animation-duration: 5s;
animation-delay: 3s;
animation-direction: alternate;
}
@keyframes hats {
  0% {background-color: black;}
  25% {background-color: yellow;}
  50% {background-color: rgb(51, 153, 255);}
  75% {background-color: green;}
  100% {background-color: black;}
}
.ears {
  position: absolute;
  height: 450px;
  width: 300px;
  left: 0;
 right: 0;
 margin: 0 auto;
 bottom: 30px;
z-index: 1;
}
.ear {
position:relative;
height: 240px;
width: 100px;
}
.left-ear{
float: left;
  border-radius: 50%;
  background-color: rgb(255, 179, 255);
  border: 5px rgb(255, 230, 255) solid;
  margin-left: -4em;
  animation-name: oreja;
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-delay: 3s;
}
@keyframes oreja {
  from {}
  to {transform: rotate(180deg);}
}
.right-ear {
float: right;
  border-radius: 50%;
  background-color: rgb(255, 179, 255);
  border: 5px rgb(255, 230, 255) solid;
  margin-right: -4em;
  animation-name: oreja;
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-delay: 3s;
}
@keyframes oreja {
  from {}
  to {transform: rotate(180deg);}
}

.nose{
  width: 130px;
  height: 65px;
  background-color: red;
  border-radius: 50px;
  position: absolute;
  left: 0;
 right: 0;
 margin: 0 auto;
  z-index: 2;
  bottom: 240px;
  animation-name: nose;
  animation-duration: 4s;
  animation-delay: 3s;
}
@keyframes nose {
  from {}
  to {height: 80px;}

}
.moustache{
  width: 220px;
  height: 50px;
  background-color: black;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  z-index: 3;
  position: absolute;
  left: 0;
 right: 0;
 margin: 0 auto;
  bottom: 220px;
}
.boca{
  position: absolute;
  left: 0;
 right: 0;
 margin: 0 auto;
 bottom: 220px;
left: 425px;
 bottom: 140px;
}
.inner{
  position: relative;
  z-index: 2;
  background-color: red;
  width: 170px;
  height:50px;
  top: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.boca-primera{
  position: relative;
  width: 170px;
  height:50px;
  background-color: white;
  border: 2px black solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;
}


.boca-ultima{
  position: relative;
  width: 170px;
  height: 50px;
  background-color: white;
  border: 2px black solid;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 2;
  animation-name: prueba;
  animation-duration: 3s;
  animation-delay: 3s;
}
@keyframes prueba {
  from {}
  to {top:10px;}

}

.shoes{
  position: absolute;
  bottom: 100px;
  left: 0;
 right: 0;
 margin: 0 auto;
}
.right-shoe{
  width: 190px;
  height: 90px;
  background-color: rgb(128, 191, 255);
  border-top-right-radius: 150px;
  float: right;
  border-left: 2px white solid;
  margin-right: 15em;
  animation-name: color;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 5;
 }
 @keyframes color {
   0% {}
   25% {background-image:  linear-gradient(to bottom, #9933ff 0%, #0099ff 100%)}
   50% {background-image:  linear-gradient(to bottom, #00ff00 0%, #0099ff 100%)}
   75% {background-image: linear-gradient(to bottom, #ff9966 0%, #0099ff 100%)}
   100% {}
   }
.left-shoe{
  width: 190px;
  height: 90px;
  background-color: rgb(128, 191, 255);
  border-top-left-radius: 150px;
  float: left;
  margin-left: 15em;
  animation-name: color;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 5;
 }
 @keyframes color {
   0% {}
  25% {background-image:  linear-gradient(to bottom, #9933ff 0%, #0099ff 100%)}
  50% {background-image:  linear-gradient(to bottom, #00ff00 0%, #0099ff 100%)}
  75% {background-image: linear-gradient(to bottom, #ff9966 0%, #0099ff 100%)}
  100% {}
}
